.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: maroon;
  padding: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-column: 1;
  background-color: maroon;
  padding: 10px;
  background-image: url("images/images (5).jpg");
  border: red;
  background-repeat: repeat-x;
  }

.grid-item {
  background-color: gold;
  border: red;
  padding: auto;
  font-size: 30px;
  text-align: center;
}

.grid-container3 {
  display: grid;
  grid-template-column: 1;
  grid-template-row: 1;
  background-color: yellow;
  padding: 10px;
}
  h1 {
color: Yellow;
}

	body {
		padding: auto;
background-image: linear-gradient(maroon, red, yellow, white);
  font-family: "Freestyle script";
  font-size: 20px;
  background-repeat: repeat-x;
  }

  	.body2 {
		padding: auto;
  font-family: "Freestyle script";
  font-size: 20px;
  background-repeat: repeat-x;
  }
  
  .p1 {
  background-image:url("images/air-bubbles-diving-underwater-blow-62307.jpeg");
  color: black;
  font-size: 40px;
  }
  
  .background {
	  background-image:url("images/goldstate.jpg");
  }
  
  a {
	color: black;
	font-size: 40px;
  }
  
.grid-container4 {
  display: grid;
  grid-template-column: 1;
  padding: 10px;
  background-image: linear-gradient(darkblue, blue, lightblue, white);
  background-repeat: repeat-x;
  border: red;
  }
  
  p {
padding: 10px;
  background-image: linear-gradient(white, grey);
  border: red;
  background-repeat: repeat-x;
  }
  
  .grid-item2 {
  background-color: red;
  border: red;
  padding: auto;
  font-size: 30px;
  text-align: center;
}